{% extends 'todo/base.html' %}
{% block title %}
                   Accessing a database for fun and profit, well for fun
{% endblock %}

{% block content %}
                                <center>
                    <H4>    no static pages here
                    <br> goto www.gorchs.net for static pages
                   <br>Django and SQLite make this too easy...</H4>
                                 </center>
    <li> <a href=https://github.com/fdo/mydjango/>old code for former version of this website</a>
{% endblock %}
