{% extends 'todo/base.html' %}

{% block title %}
                   logging my weight, a very boring log except for the frustrated comments
{% endblock %}

{% block content %}
                                <center>
                    <H4>    what we have here is a webpage for
                             <br>   a small audience
                           <br>   mainly only me...</H4>
                                </center>
<HR>-------------------------------------------------------------------------------------------<hr>
                                 
    <li> <a href=/>home</a>
    <li> <a href=/running/>running diary</a>
    <li> <a href=/addweight/>add today's weight, if you dare...</a>
    <li> <a href=https://github.com/fdo/mydjango/>old code for former version of this website</a>
{% endblock %}
