{% extends 'todo/base.html' %}

{% block title %}
                   Accessing a database for fun and profit, well for fun
{% endblock %}

{% block content %}
                                <center>
                    <H4>    alsfjlaskjfdla;skfjlasjf
                    <br> goto kajsdfl;kjaslfd
                   <br>Django and SQLite make this weird</H4><HR>
                                 </center>
    <li> <a href=/>home</a>
    <li> <a href=/running/>running journal</a>
    <li> <a href=/addweight/>add today's weight, if you dare...</a>
    <li> <a href=https://github.com/fdo/mydjango/>old code for former version of this website</a>
{% endblock %}
